<div class="page">
  <h2>Products</h2>

  @if (isLoading()) {
    <p>Loading products...</p>
  }

  @if (errorMessage()) {
    <p class="error">{{ errorMessage() }}</p>
  }

  @if (!isLoading() && !errorMessage()) {
    <div class="product-grid">
      @for (product of products(); track product.id) {
        <div class="product-card" [routerLink]="['/products', product.id]">
          <section class="image-wrapper">
            <img [src]="product.images[0]" alt="{{ product.title }}" width="150" />
          </section>
          <div class="card-body">
            <h3>{{ product.title }}</h3>
            <p>₹ {{ product.price }}</p>
          </div>
        </div>
      }
    </div>
  }
</div>
